@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightcyan;
}
/* Cabeçalho:*/
#main_header{
    height: 150px;
    background: linear-gradient('c0c0c0');
    padding: 10px;
}
.titulo{
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.logoHeader{
    width: 150px;
    height: 150px;
} 
.logoPrinc{
    width: 150px;
    height: 150px;
}
/*Botões:*/
.home{
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}
.login{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
}
span{
    margin-left: 13px;
}
/*Main:*/
main{
    margin: auto;
    width: 700px;
    height: 700px;
    border-radius: 3px 3px 3px 3px ;
    padding: 10px;
    background-color: aliceblue;
}
article> h1{
    text-align: center;
    padding-bottom: 15px;
}
article > p{
    text-align: justify;
    text-indent: 20px;
}
/*Footer:*/
footer{
    height: 100px;
    text-align: center;
    background-color: antiquewhite;
}
#autorSite{
    font-size: 20px;
    text-align: center;
}
/*Estilo da página 1 de cadastro: */
.mainCad{
    margin: auto;
}
.campCad{
    padding: 15px;
}
.inpDados{
    padding: 10px;
    font-weight: 900;
}
body{
    background-color: #c0c0c028;
}
main{
    width: 1300px;
    margin-bottom: 10px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    text-align: center;
}
header{
    display: flex;
    background-image: linear-gradient(to right, #c0c0c0,#383737da );
}
header>div{
    flex: auto;
}
footer{
    background-image: linear-gradient(to bottom, #c0c0c0,#383737ab );
}
/*
Estilos da página de login
.tLogBody{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}
.tLogSec{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479);
    width: 300px;
    text-align: center;
    padding-right: 45px;
}
.tLogForms{
    display: flex;
    flex-direction: column;
}
.tLoglab{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}
.tLogEmail, .tLogSenha {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}
.tLogBtn{
  
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}
.tLogBtn:hover {
    background-color: #0056b3;
}
*/