@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightcyan;
}
/* Cabeçalho:*/
#main_header{
    height: 150px;
    background: linear-gradient('c0c0c0');
    padding: 10px;
}
.titulo{
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.logoHeader{
    width: 150px;
    height: 150px;
} 
.logoPrinc{
    width: 150px;
    height: 150px;
}
/*Botões:*/
.home{
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}
.login{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
}
span{
    margin-left: 13px;
}
/*Main:*/
article> h1{
    text-align: center;
    padding-bottom: 15px;
}
article > p{
    text-align: justify;
    text-indent: 20px;
}
/*Footer:*/
footer{
    height: 100px;
    text-align: center;
    background-color: antiquewhite;
}
#autorSite{
    font-size: 20px;
    text-align: center;
}
/*Estilo da página 1 de cadastro: */
.mainCad{
    margin: auto;
}
.campCad{
    padding: 15px;
}
.inpDados{
    padding: 10px;
    font-weight: 900;
}

main{
    width: 1300px;
    margin-bottom: 10px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(to left,#747070, #C0C0C0);
    text-align: center;
}
header{
    background-image: linear-gradient(to right, #c0c0c0,#383737da );
}

footer{
    background-image: linear-gradient(to bottom, #c0c0c0,#383737ab );
}
main{
    margin: auto;
}
.btns{
    display: flex;
}
.botao{
    flex: auto;
}